.sign-up-container{
  width: 35%;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  padding: 60px;
  background-color: rgb(214, 214, 214);
  border: 2px solid;

}

.create-new{
  border: 3px solid  rgb(140, 140, 255);
  background-color: transparent;
  color: rgb(140, 140, 255);
  transition: all 0.2s ease-in-out
}

.create-new:hover{
    background-color: rgb(140, 140, 255);
    color: white;
}

.create-new:active{
    background-color: rgb(169, 169, 240);
    color: white;
}



input{
  border-radius: 5px;
  
  padding: 8px;

}
.full-name{
  display: flex;
  justify-content: space-between;
}

.full-name input{
  width: 49%;
}

button, .create-new{
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  color: white;
  background-color: rgb(140, 140, 255); 
  font-weight: 600;
  font-size: 15px;
}

button:hover{
  background-color:  rgb(147, 147, 212); 
}

button:active{
  background-color:  rgb(97, 97, 237); 
}


.sign-up-icons{
  display: flex;
  justify-content:space-between;
  margin: 0 auto;
  gap: 20px;
} 

.sign-up-icons .social-icon{
  width: 125px;
  text-align: center;
  background-color: transparent;
  color: rgb(95, 141, 241);

}

@media screen and (min-width: 1080px) {
  .sign-up-icons{
  display: flex;
  justify-content:space-between;
  margin: 0 auto;
  gap: 20px;
} 

.sign-up-icons .social-icon{
  width: 100px;
  text-align: center;
  background-color: transparent;
  color: rgb(95, 141, 241);

}

}
