.sign-up-container{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid white;

}


input{
  border-radius: 5px;
  border-radius: 5px;

}
.full-name{
  display: flex;
  justify-content: space-between;
}

.full-name input{
  width: 49%;
}