h3{
  text-align:start;
}


.success-details{
  
  display: flex;
  flex-direction: column;;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10%;
  margin-top: 20px;
  margin-bottom: 0px;

}

.story{
  margin-bottom: 25px;
}

.video-details{
  padding: 2px 15px !important;
  text-align: center;
  border-radius: 40%;
  background-color: gray;
}



.costButtons button{
  padding: 5px 25px;
  background-color: rgb(61, 61, 231);
  margin-right: 10px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.costButtons button:hover{
  
  background-color: rgb(114, 114, 228);
  color: white;
}

.costButtons button:active{
  
  background-color: rgb(168, 168, 224);
  color: white;
}