@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient( rgb(25, 25, 125), rgb(0, 0, 0));

}
